
.hiddenButton 
{
    display: none;
}
.imageSize {
    width: 70%;
  }
.minHeight {
    min-height: 8em; 
}
.minHeightFeatures {
    line-height: 2em; 
}

.buttonWidth {
    width: 8em;
}


